In [1]:
from turtledemo.penrose import start

from vnstock3 import Vnstock
from vnstock3.common.cli import stock

ModuleNotFoundError: No module named 'click_repl'

In [8]:
stock.listing.all_symbols()

NameError: name 'stock' is not defined

In [9]:
stock.listing.symbols_by_exchange()

NameError: name 'stock' is not defined

In [12]:
stock.listing.symbols_by_industries()

,symbol,organ_name,en_organ_name,icb_name3,en_icb_name3,icb_name2,en_icb_name2,icb_name4,en_icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,CCC,Công ty Cổ Phần Xây Dựng CDC,CDC Construction Joint Stock Company,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Xây dựng,Heavy Construction,CT,2000,2300,2350,2357
1,HIO,Công ty Cổ Phần Helio Energy,Helio Energy Joint Stock Company,Sản xuất & Phân phối Điện,Electricity,"Điện, nước & xăng dầu khí đốt",Utilities,Sản xuất & Phân phối Điện,Conventional Electricity,CT,7000,7500,7530,7535
2,TSA,Công ty Cổ Phần Đầu Tư Và Xây Lắp Trường Sơn,Truong Son Investment And Construction Joint S...,Xây dựng và Vật liệu,Construction & Materials,Xây dựng và Vật liệu,Construction & Materials,Xây dựng,Heavy Construction,CT,2000,2300,2350,2357
3,CST,Công ty Cổ phần Than Cao Sơn - TKV,Cao Son Coal Joint Stock Company,Khai khoáng,Mining,Tài nguyên Cơ bản,Basic Resources,Khai thác Than,Coal,CT,1000,1700,1770,1771
4,SGI,Công ty Cổ phần Đầu tư phát triển Sài Gòn 3 Group,Sai Gon 3 Group Investment Development Joint S...,Hàng cá nhân,Personal Goods,Hàng cá nhân & Gia dụng,Personal & Household Goods,Hàng May mặc,Clothing & Accessories,CT,3000,3700,3760,3763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1584,VIC,Tập đoàn Vingroup - Công ty CP,VinGroup Joint Stock Company,Bất động sản,Real Estate Investment & Services,Bất động sản,Real Estate,Bất động sản,Real Estate Holding & Development,CT,8000,8600,8630,8633
1585,PVO,Công ty Cổ phần Dầu nhờn PV Oil,PV Oil Lube Joint Stock Company,Hóa chất,Chemicals,Hóa chất,Chemicals,"Sản phẩm hóa dầu, Nông dược & Hóa chất khác",Specialty Chemicals,CT,1000,1300,1350,1357
1586,DVM,Công ty Cổ phần Dược liệu Việt Nam,Vietnam Medicinal Materials Joint Stock Company,Dược phẩm,Pharmaceuticals & Biotechnology,Y tế,Health Care,Dược phẩm,Pharmaceuticals,CT,4000,4500,4570,4577
1587,VIN,Công ty Cổ phần Giao nhận Kho vận Ngoại thương...,VINATRANS,Vận tải,Industrial Transportation,Hàng & Dịch vụ Công nghiệp,Industrial Goods & Services,"Kho bãi, hậu cần và bảo dưỡng",Transportation Services,CT,2000,2700,2770,2777
1588,XMP,Công ty Cổ phần Thủy điện Xuân Minh,Xuan Minh Hydro Power Joint Stock Company,Sản xuất & Phân phối Điện,Electricity,"Điện, nước & xăng dầu khí đốt",Utilities,Sản xuất & Phân phối Điện,Conventional Electricity,CT,7000,7500,7530,7535

In [13]:
stock.listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
151,Ngân hàng,Banks,8300,2
152,Bảo hiểm,Insurance,8500,2
153,Bất động sản,Real Estate,8600,2
154,Dịch vụ tài chính,Financial Services,8700,2
155,Công nghệ Thông tin,Technology,9500,2

In [20]:
stock.quote.history(start = '2024-08-11', end = '2024-09-11', interval = '1D')

         time    open    high     low   close  volume
0  2024-08-12  1262.5  1271.0  1258.7  1270.0  226622
1  2024-08-13  1269.0  1270.1  1262.1  1267.0  197966
2  2024-08-14  1270.9  1273.7  1268.0  1268.0  178968
3  2024-08-15  1268.0  1269.7  1263.4  1267.7  113347
4  2024-08-16  1271.5  1289.9  1268.2  1288.0  226539
5  2024-08-19  1284.2  1300.6  1284.0  1298.0  193822
6  2024-08-20  1301.6  1308.8  1298.3  1302.0  199742
7  2024-08-21  1300.8  1314.5  1297.2  1312.4  222658
8  2024-08-22  1312.7  1316.7  1310.3  1314.2  187742
9  2024-08-23  1311.6  1319.0  1310.1  1315.3  182558
10 2024-08-26  1320.8  1323.1  1316.2  1317.0  152481
11 2024-08-27  1316.9  1324.0  1315.2  1321.8  156114
12 2024-08-28  1320.6  1324.6  1317.0  1322.1  166949
13 2024-08-29  1321.1  1330.1  1320.6  1326.8  165014
14 2024-08-30  1328.4  1334.9  1328.0  1332.7  123414
15 2024-09-04  1320.8  1321.5  1307.3  1314.0  174577
16 2024-09-05  1316.1  1318.6  1304.7  1307.7  168484
17 2024-09-06  1307.6  1311.3  1305.6  1309.0  150932
18 2024-09-09  1299.2  1308.9  1298.6  1307.7  154640
19 2024-09-10  1310.8  1313.6  1289.4  1294.1  201089
20 2024-09-11  1294.5  1294.7  1287.3  1288.5   54405

In [2]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
stock.quote.intraday(symbol='FTS', show_log=False)

NameError: name 'stock' is not defined

In [23]:
# Bước giá và khối lượng giao dịch: realtime
stock.quote.price_depth('FTS')

    price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0   42300      87700          76900           10800                    0
1   42250      64000          35900           28100                    0
2   42200     109500          71300           38200                    0
3   42150      55200          22800           32400                    0
4   42100     101800          50400           51400                    0
5   42050      53900            100           36400                17400
6   42000      40700              0           40700                    0
7   41950       4900            900            4000                    0
8   41900       7200              0            7200                    0
9   41850       2200              0            2200                    0
10  41800       9700           3100            6600                    0
11  41750      29300          23900            5400                    0
12  41700      32100          10300           21800                    0
13  41650      32000           7300           24700                    0
14  41600      68000          32400           35600                    0
15  41550      16500              0           16500                    0

In [25]:
stock.trading.price_board(['FTS', 'VNM', 'VIC'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     FTS   45000  39200     42100      STOCK      HSX
1     VNM   80100  69700     74900      STOCK      HSX
2     VIC   46000  40000     43000      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0    305919366  STOCK  8424963  ...       41700        19200       41650
1   2089850445  STOCK  8424928  ...       74200        24100       74100
2   3823661561  STOCK  8424670  ...       42250        27600       42200

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0        23400       41800         9300       41850          100       41950
1        67200       74400        17600       74500         9700       74600
2         5300       42350        63500       42400          700       42450


  ask_3_volume
0         1000
1        12300
2         1200

[3 rows x 39 columns]