In [2]:
from operator import index

from vnstock3 import Vnstock
import vnstock as vs
import pandas as pd

stock = Vnstock().stock(symbol='ACB', source='VCI')

**Vui lòng chuyển đổi sang Vnstock3** thế hệ mới (0.3.0.7) với câu lệnh: `pip install vnstock3 --upgrade`.
**Từ 1/1/2025, vnstock3 sẽ được cài đặt khi sử dụng cú pháp** `pip install vnstock` **thay cho Vnstock Legacy** hiện tại.
Xem chi tiết [chuyển đổi sang vnstock3](https://vnstocks.com/docs/tai-lieu/migration-chuyen-doi-sang-vnstock3).
Phiên bản **Vnstock Legacy (0.2.9.2.2)** bạn đang sử dụng **sẽ không được nâng cấp thêm.**

2024-09-26 13:26:37,432 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

In [2]:
stock_return = stock.listing.all_symbols()

In [31]:
stock_return = stock.listing.all_symbols()
df = pd.DataFrame(stock_return)

df.to_csv('stock_return.csv', index=False, encoding='utf-8')
print("Done")

Done

In [18]:

stock_code = 'ACB'

start_date = '2024-09-01'
end_date = '2024-09-020'


#stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')

stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')

           time   open   high    low  close    volume
0    2020-01-02   7.88   7.94   7.84   7.94   1163109
1    2020-01-03   7.94   8.01   7.91   7.94   1055528
2    2020-01-06   7.94   7.94   7.77   7.77   1286035
3    2020-01-07   7.77   7.84   7.77   7.77   1050934
4    2020-01-08   7.77   7.77   7.60   7.63   2304937
...         ...    ...    ...    ...    ...       ...
1172 2024-09-20  24.90  25.80  24.90  25.65  34310900
1173 2024-09-23  25.70  26.00  25.60  25.65   8574100
1174 2024-09-24  25.65  25.80  25.40  25.80  12775500
1175 2024-09-25  26.00  26.20  25.80  26.20  23014300
1176 2024-09-26  26.30  26.30  26.05  26.15   4236100

[1177 rows x 6 columns]

In [1]:
stock = Vnstock().stock(symbol='ACB', source='SSI')
df = stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')
df.to_csv('stock_test.csv', index=False, encoding='utf-8')

NameError: name 'Vnstock' is not defined